@model IEnumerable<BookViewModel>

@{
    ViewBag.Title = "All Books";
}

<div class="text-center row">
    @if(null != TempData["alertMessage"])
    {
    <div class="alert alert-success" role="alert">
      @TempData["alertMessage"]
    </div>
    }
    @foreach (var book in Model)
    {
        <partial name="_BookPartial" model="book" />
    }
</div>