@model BookViewModel

@{
	ViewBag.Title = "Details";
}

<section id="portfolio-details" class="portfolio-details">
	<div class="container">

		<div class="row gy-4">

			<div class="col-lg-8">
				<div class="portfolio-details-slider swiper">
					<div class="swiper-wrapper align-items-center">
						<div class="swiper-slide">
							<img src="@Model.ImageUrl" alt="Book Image">
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="portfolio-info">
					<h3>Book Details:</h3>
					<ul>
						<li><strong>Publisher: </strong>@Model.Publisher</li>
						<li><strong>Category: </strong>@Model.Category</li>
						<li><strong>Download: </strong>: <a href="#">www.example.com</a></li>
					</ul>
				</div>
				<div class="portfolio-description">
					<h2>Book Desctiption:</h2>
					@if (Model.SanitizedDescription != "" && Model.SanitizedDescription != null)
					{
			<div class="col-lg-12">
			  <div class="card mb-4">
				<div class="card-body">
				  <p>@Html.Raw(Model.SanitizedDescription)</p>
				</div>
			  </div>
			</div>
					}
				</div>
			</div>

		</div>

	</div>
</section>