@model IEnumerable<BookViewModel>

@{
    ViewBag.Title = "My Finished Books";
}

<div class="text-center row">
    @foreach (var book in Model)
    {
        <partial name="_BookPartial" model="book" />
    }
</div>