@model IEnumerable<TransactionViewModel>
@{
    ViewData["Title"] = "Transactions Dashboard";
}

<div class="text-center">
    <h1 class="display-4 p-3">Transactions</h1>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col" style="width: 30%">Sender</th>
                <th scope="col" style="width: 30%">Receiver</th>
                <th scope="col" style="width: 25%">Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in Model)
            {
                <tr>
                    <td>@transaction.SenderEmail</td>
                    <td>@transaction.RecieverEmail</td>
                    <td>@transaction.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="container text-end">
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Add", "Transactions")'"><i class="bi bi-plus-circle"></i> Create Transaction</button>
    </div>
</div>